.game_header {
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    align-items: center;
    padding: 25px 0;
  }
  .apples {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border-bottom: 3px solid #d9d9d9;
  }
  .game_header span {
    margin-left: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #0f8086;
  }